<div>
    <div class="overlay" *ngIf="showSpinner">
        <div class="spinner-wrapper">
          <app-spinner></app-spinner>
        </div>
    </div>
    <div [class.blurred]="showSpinner">
        <!-- Div for First View -->
        <div *ngIf="!view" class="jumbotron text-center">
            <div class = "container">
                <button class="btn btn-danger">Start Test</button>
            </div>
        </div>
        <!-- Div for Second View -->
        <div *ngIf="view">
            <!-- Div for Side Section -->
            <div class="sidenav">
                <!-- Quiz Title -->
                <div class="text-center">
                    <h2>{{testId}}</h2>
                </div>
                <!-- Questions -->
                <div class="questions">
                    <!-- Question
                        Use Ng Class to select CSS
                    -->
                    <h3>Section {{current.section+1}}</h3>
                    <div *ngFor="let q of questions[current.section]">
                        <div class="btn btn-secondary" (click)="changeQuestion(q)" [ngClass]="{'attemptedQuestion': quiz.sections[current.section].questions[q].selectedOption != '','unattemptedQuestion': quiz.sections[current.section].questions[q].selectedOption === '' && !quiz.sections[current.section].questions[q].visited , 'seenUnattemptedQuestion': quiz.sections[current.section].questions[q].selectedOption === '' && quiz.sections[current.section].questions[q].visited}">
                            Question {{q+1}}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Div for Main Section -->
            <div class="main">
                <!-- Top Bar to Show Time and End Test Button -->
                <div class="top">
                    <!-- Show Remaining Time Here -->
                    <div class="time text-center">
                        <h3>{{time}}</h3>
                    </div>
                    <!-- End Test Button Here -->
                    <div class="end text-center">
                        <button class="btn btn-danger" data-toggle="modal" data-target="#myModal">Submit Test</button>
                    </div>
                </div>
                <!-- Quiz Part here -->
                <div class="quizQuestion card">
                    <!-- Show Question here -->
                    <div class="card-header text-center question-header align-center">
                        {{quiz.sections[current.section].questions[current.question].question}}
                    </div>
                    <!-- Show Options here -->
                    <div class="card-body options">
                        <!-- Show an Option -->
                        <div class = "option text-center btn btn-dark" (click)="markSubmit('a')" accesskey="q" title="ShortCut: Alt + q" [ngClass]="{'greenColor': quiz.sections[current.section].questions[current.question].selectedOption === 'a'}">
                            {{quiz.sections[current.section].questions[current.question].options.a}}
                        </div>
                        <div class = "option text-center btn btn-dark" (click)="markSubmit('b')" accesskey="w" title="ShortCut: Alt + w" [ngClass]="{'greenColor': quiz.sections[current.section].questions[current.question].selectedOption === 'b'}">
                            {{quiz.sections[current.section].questions[current.question].options.b}}
                        </div>
                        <div class = "option text-center btn btn-dark" (click)="markSubmit('c')" accesskey="a" title="ShortCut: Alt + a" [ngClass]="{'greenColor': quiz.sections[current.section].questions[current.question].selectedOption === 'c'}">
                            {{quiz.sections[current.section].questions[current.question].options.c}}
                        </div>
                        <div class = "option text-center btn btn-dark" (click)="markSubmit('d')" accesskey="s" title="ShortCut: Alt + s" [ngClass]="{'greenColor': quiz.sections[current.section].questions[current.question].selectedOption === 'd'}">
                            {{quiz.sections[current.section].questions[current.question].options.d}}
                        </div>
                    </div>
                    <div class="card-footer container text-center">
                        <button class="btn btn-info" style="float: left;" [disabled]="current.question == 0" (click)="previousQuestion()" accesskey="p" title="ShortCut: Alt + p">Previous</button>
                        <button class="btn btn-info" style="float: right;" [disabled]="current.question == quiz.sections[current.section].questions.length-1" (click)="nextQuestion()" accesskey="n" title="ShortCut: Alt + n">Next</button>
                    </div>
                </div>
                <br>
                <div class="text-center">
                    <button class="btn btn-info" style="float: none;" data-toggle="modal" data-target="#nextSectionModal" [disabled]="current.section == quiz.sections.length-1" accesskey="b" title="ShortCut: Alt + b">Next Section</button>
                </div>
            </div>
        </div>
        <div id = "myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="text-center">
                            Are you Sure?
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <button class="btn btn-primary" style="float: left;">No</button>
                            <button class="btn btn-danger" style="float: right;"(click)="endTest()">Yes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id = "nextSectionModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <div class="text-center">
                            Are you Sure?
                        </div>  
                    </div>  
                    <div class="modal-body">
                        <p>You will not be able to come back to this section again.</p>
                    </div>
                    <div class="modal-footer">
                        <div class="container">
                            <button class="btn btn-primary" data-dismiss="modal" style="float: left;">No</button>
                            <button class="btn btn-danger" style="float: right;"(click)="nextSection()" data-dismiss="modal">Yes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>