<div>
    <div class="overlay" *ngIf="showSpinner">
        <div class="spinner-wrapper">
          <app-spinner></app-spinner>
        </div>
    </div>
    <div [class.blurred]="showSpinner">
        <!-- Div for First View -->
        <div *ngIf="!view" class="text-center bg-dark min-vh-100 h-100 py-3 min-vw-100 w-100">
            <!-- <div class ="mx-auto my-auto w-100 h-100 bg-light"> -->
                <div class="card shadow-lg w-50 mx-auto mt-3">
                    <form [formGroup]="startTestForm">
                        <div class="card-header text-center">
                            Test: {{testId}}
                        </div>
                        <div class="card-body text-center">
                            <div class="form-group">
                                <div class="input-group mb-3 w-75 mx-auto">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Group</span>
                                    </div>
                                    <input type="text" class="form-control" formControlName="groupId" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group mb-3 w-75 mx-auto">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Password</span>
                                    </div>
                                    <input type="password" class="form-control" formControlName="password">
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-success" (click)="joinTest();">Start</button>
                        </div>
                    </form>
                </div>
            <!-- </div> -->
        </div>
        <!-- Div for Second View -->
        <div *ngIf="view">
            <mat-sidenav-container class="example-container">
                <mat-sidenav class="bg-dark w-25 h-auto min-vh-100" [@inOutAnimation] #sidenav mode="side" [(opened)]="opened" (opened)="console.log('open')"
                             (closed)="console.log('closed')">
                    <div class="text-center text-white">
                        <div>
                            <h3>{{testId}}</h3>
                        </div>
                    </div>
                    <div class="questions">
                        <h3 class="text-white">Section {{questionType | uppercase}}</h3>
                        <div *ngFor="let q of questions;let i=index;">
                            <div class="btn btn-secondary" (click)="changeQuestion(i)" [ngClass]="{'attemptedQuestion': questions[current.question].response!='','unattemptedQuestion': questions[current.question].response=='' && !questions[current.question].visited , 'seenUnattemptedQuestion': questions[current.question]['response']=='' && questions[current.question].visited}">
                                Question {{i+1}}
                            </div>
                        </div>
                    </div>
                    <div class="text-center bottom my-3">
                        <button class="btn btn-danger" style="float: none;" data-toggle="modal" data-target="#nextSectionModal" accesskey="b" title="ShortCut: Alt + b">Next Section</button>
                    </div>
                </mat-sidenav>
              
                <mat-sidenav-content>
                    <div>
                        <div class="main d-flex flex-row">
                            <div class="w-5 btn btn-dark rounded-0 min-vh-100 h-auto text-center" [@inOutAnimation] (mouseover)="sidenav.toggle()">
                                <i class="fa fa-bars"></i>
                            </div>
                            <!-- Top Bar to Show Time and End Test Button -->
                            <div [ngClass]="{'w-100':opened,'w-95':!opened}" (mouseover)="opened=false">
                                <nav class="navbar navbar-info bg-info">
                                    <div class="navbar-nav text-center mx-auto">
                                            <span class="nav-item text-white">{{time}}</span>
                                    </div>
                                    <button class="btn btn-danger my-2 my-sm-0" data-toggle="modal" data-target="#myModal">End Test</button>
                                </nav>
                                <!-- Quiz Part here -->
                                <!-- MCQ and True False -->
                                <div class="mcqQuestion card shadow my-3 w-50 mx-auto" *ngIf="questionType=='mcq' || questionType=='trueFalse'">
                                <!-- Show Question here -->
                                    <div class="card-header text-center question-header align-center" [innerHtml]="questions[current.question].question">
                                    </div>
                                    <!-- Show Options here -->
                                    <div class="card-body">
                                    
                                        <div class="d-flex flex-column" *ngIf="questionType=='mcq'">
                                            <div class="card shadow-sm my-2 d-flex flex-row flex-wrap text-center" *ngFor="let option of questions[current.question].options; let i = index">
                                                <!-- <div class="w-25">
                                                    <mat-checkbox class="py-auto" [(ngModel)]="option.response"></mat-checkbox>
                                                </div> -->
                                                <div class="w-100 btn btn-light h-100 py-2" [innerHtml]='option.option' (click)="option.response = !option.response" [ngClass]="{'border-success': option.response,'border-light':!option.response}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-column" *ngIf="questionType=='trueFalse'">
                                            <div class="card shadow my-2 d-flex flex-row flex-wrap text-center">
                                                <div class="w-100 h-100 btn btn-light" (click)="questions[current.question]['response']=true" [ngClass]="{'border-success': questions[current.question]['response'] == true,'border-light': questions[current.question]['response']==false}">
                                                    True
                                                </div>
                                            </div>
                                            <div class="card shadow-sm my-2 d-flex flex-row flex-wrap text-center">
                                                <div class="w-100 h-100 btn btn-light" (click)="questions[current.question]['response']=false" [ngClass]="{'border-success': questions[current.question]['response'] == false,'border-light': questions[current.question]['response']==true}">
                                                    False
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer d-flex flex-row justify-content-around ">
                                        <button class="btn btn-warning" [disabled]="current.question == 0" (click)="previousQuestion()" accesskey="p" title="ShortCut: Alt + p">Previous</button>
                                        <button class="btn btn-success" (click)="submitQuestion(current.question,questionType)">Submit</button>
                                        <button class="btn btn-warning" [disabled]="current.question == questions.length-1" (click)="nextQuestion()" accesskey="n" title="ShortCut: Alt + n">Next</button>
                                    </div>
                                </div> 
                                <!-- Coding Question -->
                                <div *ngIf="questionType=='codingQuestion'">
                                    <div class="">
                                        <div class="text-center bg-light">
                                            <div class="text-center" [innerHtml]="this.questions[current.question].title"></div>
                                        </div>
                                        <div class="">
                                            <div class="my-3 w-100" [innerHtml]="this.questions[current.question].description">
                                            </div>
                                            <div class="my-3 w-100">
                                                Sample Input
                                                <div class="card" [innerHtml]="this.questions[current.question].sampleInput">
                                                </div>
                                            </div>
                                            <div class="my-3 w-100">
                                                Sample Output
                                                <div class="card" [innerHtml]="this.questions[current.question].sampleOutput">
                                                </div>
                                            </div>
                                        </div>
                                        <app-ide [headerCode]="headerCode" [footerCode]="footerCode" [mainCode]="mainCode" [problemInput]="problemInput" #codeEditor>
                                        </app-ide>
                                        <div class="d-flex justify-content-around bg-light">
                                            <button class="btn btn-success my-3" (click)="submitCodingQuestion(selectedCodingQuestion, codeEditor.getContent(),
                                                                                        codeEditor.getLangId(), codeEditor.getLangVersion())">Submit</button>
                                            <div class="spinner-border" role="status" *ngIf="submitted">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </mat-sidenav-content>
            </mat-sidenav-container>
        </div>
        <div id = "myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="text-center">
                            Are you Sure?
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <button class="btn btn-primary" style="float: left;">No</button>
                            <button class="btn btn-danger" style="float: right;"(click)="endTest()">Yes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id = "nextSectionModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <div class="text-center">
                            Are you Sure?
                        </div>  
                    </div>  
                    <div class="modal-body">
                        <p>You will not be able to come back to this section again.</p>
                    </div>
                    <div class="modal-footer">
                        <div class="container">
                            <button class="btn btn-primary" data-dismiss="modal" style="float: left;">No</button>
                            <button class="btn btn-danger" style="float: right;"(click)="nextSection()" data-dismiss="modal">Yes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>