.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.w-5{
  width: 5%;
}

.w-95{
  width: 95%;
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 25%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    color: #f1f1f1;
    text-align: center;
  }
  
  /* Style page content */
  .main {
    /* margin-left: 25%; Same as the width of the sidebar */
    /* padding: 0px 10px; */
    width: 100%;
    min-height: 100vh;
    background-color: white !important;
  }

  .wrapper {
    width: 100%;
    height: 100%;
  }
  
  .overlay {
    position: fixed;
    z-index: 1002;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
  }

  .spinner-wrapper {
    display: flex;
    justify-content: center;
    justify-items: center;
  }

  .view1 {
    width: 100%;
    height: 100%;
  }

  .top{
      padding-top: 1%;
      display: flex;
      flex-direction: row;
        height: 10%;
        /* background-color: cornflowerblue; */
    }   

  .time{
    width: 80%;
  }

  .end{
      width: 20%;
  }

  .mcqQuestion{
      min-width: 600px;
      height: auto;
      margin-top: 5%;
      /* background-color: darkgoldenrod; */
  }
  .question-header{
      min-height: 15vh;
      height: auto;
      line-height: auto;
      vertical-align: middle;
  }

  .questions{
    width: 80%;
    margin-top: 20%;
    min-height: 70vh;
    margin-left: 10%;
  }

  

  .unattemptedQuestion{
    width: 100%;
    height: 8vh;
    color: black;
    margin-bottom: 1%;
    background-color: white;
  }

  .unattemptedQuestion:hover{
    background-color: lightblue;
  }

  .seenUnattemptedQuestion{
    width: 100%;
    height: 8vh;
    color: black;
    margin-bottom: 1%;
   background-color: #f1f38f !important; 
  }

  .attemptedQuestion{
    width: 100%;
    height: 8vh;
    color: black;
    margin-bottom: 1%;
    background-color: #92e526 !important;
  }

  .attemptedQuestion:hover{
    background-color: lightgreen !important;
  }

  .greenColor{
    background-color: #80da67 !important;
    color: black;
  }