<div class="wrapper">
    <div class="overlay" *ngIf="showSpinner">   
        <div class="spinner-wrapper">
            <app-spinner></app-spinner>
        </div>
    </div>
    <div [class.blurred]="!showSpinner">
        <div class="navBarCss mb-3">
            <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
                <span class="navbar-brand mb-0 h1">{{code.substring(8) | uppercase}}</span>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" (click) = "setView(1)"> Stream</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click) = "setView(2)"> Assignments</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click) = "setView(3)"> Tests</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="changePage('questions')">Questions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="changePage('practice')">Practice</a>
                        </li>
                    </ul>
                    <button class="btn btn-warning mr-2 my-sm-0" type="button" (click)="moveBack()">Home</button>
                    &nbsp;&nbsp;<br>
                    <button class="btn btn-danger my-2 my-sm-0" type="button" (click)="signOut()">Sign Out</button>
                </div>
            </nav>
        </div>
        <div class="completeView bg-secondary py-3">
            <div class="mx-auto w-80 my-3">
                <div class="card">
                    <div class="card-header bg-light text-center">
                        <h3>
                            {{testId}}
                        </h3>
                    </div>
                    <form [formGroup]="testForm">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="title form-label">Title</label>
                                <input type="text" class="form-control" formControlName="title">
                            </div>
                            <div class="form-group">
                                <label for="instructions">Instructions</label>
                                <quill-editor formControlName="instructions">
                                </quill-editor>
                            </div>
                            <div class="form-group">
                                <label>Groups</label>
                                <div class="card py-3 text-center bg-light">
                                    <ng-container formArrayName = "groups">
                                        <div *ngFor="let control of testForm.get('groups').controls; index as i">
                                          <ng-container class="form-group mx-auto px-3" [formGroup]="control">
                                              <div class="d-flex flex-column card py-3 my-2 mx-3">
                                                <div>
                                                    <div class="input-group mb-3 w-75 mx-auto">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">{{control.get('groupId').value}}</span>
                                                        </div>
                                                        <input type="{{control.get('showPassword').value?'text':'password'}}" class="form-control" formControlName="password">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-secondary" (click)="control.get('showPassword').value=!control.get('showPassword').value">
                                                                {{control.get('showPassword').value?'Hide':'Show'}}
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="form-group w-50 mx-auto">
                                                        <div class="input-group w-75 mx-auto">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">Start Time</span>
                                                            </div>
                                                            <input type="datetime-local" class="form-control" formControlName="startTime" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group w-50 mx-auto">
                                                        <div class="input-group w-75 mx-auto">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">End Time</span>
                                                            </div>
                                                            <input type="datetime-local" class="form-control" formControlName="endTime" required>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                          </ng-container>
                                        </div>
                                      </ng-container>
                                </div>
                            </div>
                            <div class="form-group" *ngIf="testForm.get('mcq').value.length > 0">
                                <label>Multiple Choice Questions</label>
                                <div class="card py-3 text-center bg-light">
                                    <ng-container formArrayName = "mcq">
                                        <div class="card mx-3 py-3 my-2" *ngFor="let control of testForm.get('mcq').controls; index as i">
                                          <ng-container class="form-group mx-auto px-3" [formGroup]="control">
                                              <div class="d-flex flex-column">
                                                <div class="d-flex flex-row justify-content-between w-100 px-3">
                                                    <div></div>
                                                    <div [innerHtml]="control.get('questionContent').value"></div>
                                                    <div>
                                                        <button type="button" class="close" aria-label="Close" (click)="removeMCQ(i)">
                                                         <span aria-hidden="true">&times;</span>
                                                       </button>
                                                    </div>
                                                </div>
                                                <div class="form-group row w-50 mx-auto">
                                                    <div class="input-group mb-3 w-75 mx-auto">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Marks</span>
                                                        </div>
                                                        <input type="number" class="form-control" formControlName="marks">
                                                    </div>
                                                </div>
                                            </div>
                                          </ng-container>
                                        </div>
                                      </ng-container>
                                </div>
                            </div>
                            <div class="form-group" *ngIf="testForm.get('trueFalse').value.length > 0">
                                <label>True/False Questions</label>
                                <div class="card py-3 text-center bg-light">
                                    <ng-container formArrayName = "trueFalse">
                                        <div class="card mx-3 py-3 my-2" *ngFor="let control of testForm.get('trueFalse').controls; index as i">
                                          <ng-container class="form-group mx-auto px-3" [formGroup]="control">
                                              <div class="d-flex flex-column">
                                                <div class="d-flex flex-row justify-content-between w-100 px-3">
                                                    <div></div>
                                                   <div [innerHtml]="control.get('questionContent').value"></div>
                                                   <div>
                                                       <button type="button" class="close" aria-label="Close" (click)="removeTrueFalseQuestion(i)">
                                                        <span aria-hidden="true">&times;</span>
                                                      </button>
                                                   </div>
                                                </div>
                                                <div class="form-group row w-50 mx-auto">
                                                    <div class="input-group mb-3 w-75 mx-auto">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Marks</span>
                                                        </div>
                                                        <input type="number" class="form-control" formControlName="marks">
                                                    </div>
                                                </div>
                                            </div>
                                          </ng-container>
                                        </div>
                                      </ng-container>
                                </div>
                            </div>
                            <div class="form-group" *ngIf="testForm.get('codingQuestion').value.length > 0">
                                <label>Coding Questions</label>
                                <div class="card py-3 text-center bg-light">
                                    <ng-container formArrayName = "codingQuestion">
                                        <div class="card mx-3 py-3 my-2" *ngFor="let control of testForm.get('codingQuestion').controls; index as i">
                                          <ng-container class="form-group mx-auto px-3" [formGroup]="control">
                                              <div class="d-flex flex-column">
                                                <div class="d-flex flex-row justify-content-between w-100 px-3">
                                                    <div></div>
                                                    <div [innerHtml]="control.get('title').value"></div>
                                                    <div>
                                                        <button type="button" class="close" aria-label="Close" (click)="removeCodingQuestion(i)">
                                                         <span aria-hidden="true">&times;</span>
                                                       </button>
                                                    </div>
                                                </div>
                                                <div class="form-group row w-50 mx-auto">
                                                    <div class="input-group mb-3 w-75 mx-auto">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Marks</span>
                                                        </div>
                                                        <input type="number" class="form-control" formControlName="marks">
                                                    </div>
                                                </div>
                                            </div>
                                          </ng-container>
                                        </div>
                                      </ng-container>
                                </div>
                            </div>
                        </div>
                        <div class="text-center card-footer bg-light">
                            <button class="btn btn-secondary" (click)="saveTest()">
                                Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>