  .topDiv{
    height: 15vh;
    width: 100%;
  }

  .midDiv{
    height: 60vh;
    width: 30vw;
  }

  .loginCard{
    border-radius: 10%;
  }

  .wrapper {
    width: 100vw;
    height: 100vh;
  }
  
  .overlay1 {
    position: absolute;
    z-index: 1002;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
  }
  
  .spinner-wrapper1 {
    display: flex;
    justify-content: center;
    justify-items: center;
  }
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 1000px) {
    .topDiv{
      height: 15vh;
      width: 100%;
    }

    .midDiv{
      height: 70vh;
      width: 50vw;
    }    
  }

  @media screen and (max-width: 600px) {
    .topDiv{
      height: 10vh;
      width: 100%;
    }

    .midDiv{
      height: 70vh;
      width: 60vw;
    }    
  }

  @media screen and (max-width: 400px) {
    .topDiv{
      height: 5vh;
      width: 100%;
    }
    .midDiv{
      height: 80vh;
      width: 90vw;
    }    
  }
