<div class="wrapper">
    <div class="my-overlay" *ngIf="showSpinner">
        <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
    </div>
    <div class="overlay1" *ngIf="showSpinner1">
        <div class="spinner-wrapper1">
          <app-spinner></app-spinner>
        </div>
    </div>
    <div class="loaded-content" [class.blurred]="showSpinner || showSpinner1">
        <h1 style="text-align:center">Indian Institute of Technology Jammu</h1>
        <h2 style="text-align:center">Coding Platform</h2>
        <div id="formDiv">
            <form [formGroup] = "form">
                <div class="container">
                    <label for="uname"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="uname" required formControlName = "username">
                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="psw" required formControlName = "password">
                    <button type="submit" (click)="login()">Login</button>
                    <div style="text-align: center;">
                        <h6><b>OR</b></h6>
                    </div>
                    <button type="submit" (click)="googleLogin()" class="btn btn-block btn-social btn-google"><span class="fa fa-google"></span> Sign in with Google</button>
                </div>
                <div class="container" style="background-color:#f1f1f1">
                    <button type="button" class="cancelbtn" (click)="reset()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>