<div class="wrapper bg-dark">
    <div class="overlay1" *ngIf="showSpinner1">
        <div class="spinner-wrapper1">
          <app-spinner></app-spinner>
        </div>
    </div>
    <div class="mainDiv w-100 h-100 mx-auto" [class.blurred]="showSpinner1">
        <div class="topDiv mx-auto">
        </div>
        <div class="midDiv bg-light mx-auto loginCard text-center">
            <div class="loginCard card w-100 h-100">
                <div class="card-content">
                    <div class="card-header text-dark card-title">
                        <h3>Coding Platform</h3>
                    </div>
                    <div class="card-body text-left">
                        <form [formGroup] = "form">
                            <label for="email" class="my-2"><b>Email</b></label>
                            <input type="text" class="form-control" placeholder="Enter Email" name="email" required formControlName = "email">
                            <label for="psw" class="my-2"><b>Password</b></label>
                            <input type="password" class="form-control" placeholder="Enter Password" name="psw" required formControlName = "password">
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary btn-block mt-3 mx-auto" [disabled]="!form.valid" (click)="login()">Login</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-warning float-left" (click)="reset()">
                            Reset
                        </button>
                        <button class="btn btn-success float-right" (click)="signUp()">
                            Sign Up
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottomDiv">
        </div>
    </div>
</div>