<div class="wrapper">
    <div class="overlay" *ngIf="showSpinner">   
        <div class="spinner-wrapper">
            <app-spinner></app-spinner>
        </div>
    </div>
    <div [class.blurred]="!showSpinner">
        <div class="navBarCss">
            <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
                <span class="navbar-brand mb-0 h1">{{code.substring(8)}}</span>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" (click) = "setView(1)"> Stream</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click) = "setView(2)"> Assignments</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click) = "setView(3)"> Tests</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="goToQuestions()">Questions</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" (click)="goToPractice()">Practice</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click) = "setView(4)">IDE</a>
                        </li>
                    </ul>
                    <a class="btn btn-warning mr-2 my-sm-0" (click)="moveBack()">Home</a>
                    &nbsp;&nbsp;<br>
                    <button class="btn btn-danger my-2 my-sm-0" type="button" (click)="signOut()">Sign Out</button>
                </div>
            </nav>
        </div>
        <div class="completeView">
            <div class = "mainClass" >
                <mat-tab-group class="mx-auto text-dark justify-content-between">
                    <mat-tab label="MCQ">
                        <div class="w-75 mx-auto my-4" *ngIf="mcqQuestions.length > 0">
                            <div class="card border-secondary my-2" *ngFor="let q of mcqQuestions; let i=index;" [ngClass]="{'border-success':q.isSolved}">
                                <div class="card-header" id="headingOne">
                                    <div class="w-100 text-center" [innerHtml]='q.question'></div>
                                    <div class="text-center" >
                                        <button class="btn btn-outline-primary" (click)="solveQuestion(i,'mcq')" data-toggle="modal" data-target="#mcqModal">
                                            Solve
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card my-3 w-75 text-center text-wrap mx-auto" *ngIf="mcqQuestions.length==0">
                            <div class="card-body">
                                <h3>No Question Found.</h3>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="True/False">
                        <div class="w-75 mx-auto my-4" *ngIf="trueFalseQuestions.length>0">
                            <div class="card border-secondary" *ngFor="let q of trueFalseQuestions; let i=index;" [ngClass]="{'border-success':q.isSolved}">
                                <div class="card-header" id="headingOne">
                                    <div class="w-100 text-center" [innerHtml]='q.question'></div>
                                    <div class="text-center" >
                                        <button class="btn btn-outline-primary" (click)="solveQuestion(i,'trueFalse')" data-toggle="modal" data-target="#trueFalseModal">
                                            Solve
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card my-3 w-75 text-center text-wrap mx-auto" *ngIf="trueFalseQuestions.length==0">
                            <div class="card-body">
                                <h3>No Question Found.</h3>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Coding Questions">
                        <div class="w-75 mx-auto my-4">
                            <div class="card border-secondary" *ngFor="let q of codingQuestions; let i=index;">
                                <div class="card-header" id="headingOne">
                                    <div class="w-100 text-center" [innerHtml]='q.title'></div>
                                    <div class="text-center" >
                                        <button class="btn btn-outline-primary" (click)="solveQuestion(i,'codingQuestion')" data-toggle="modal" data-target="#codingQuestionModal">
                                            Solve
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card my-3 w-75 text-center text-wrap mx-auto" *ngIf="codingQuestions.length==0">
                            <div class="card-body">
                                <h3>No Question Found.</h3>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
            <div class="sideInfo bg-transparent px-3">
                <div>
                    <div class="my-3 py-3">
                        <div class="card text-center">
                            <div class="card-header bg-dark text-light">
                                LeaderBoard
                            </div>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Score</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let entry of leaderboard; index as i">
                                    <th scope="row">{{ i + 1 }}</th>
                                    <td>{{ entry.name }}</td>
                                    <td>{{ entry.score | number }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom bg-dark py-3 text-light text-center">
            <h3>{{courseTitle}}</h3>
        </div>
        <div class="modal fade" id="mcqModal" role="dialog" *ngIf="view==1 && selectedMCQ!=null">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header text-center bg-light px-auto w-100 h-100">
                        <div class="text-center" [innerHtml]="this.mcqQuestions[selectedMCQ].question"></div>
                        <button type="button" class="close" data-dismiss="modal" style="float: right;">&times;</button>
                    </div>
                    <div class="modal-body text-center">
                        <div class="text-center my-3">
                            <div class="card my-3 d-flex flex-row flex-wrap text-center min-H-5" *ngFor="let option of mcqQuestions[selectedMCQ].options; let i = index">
                                <div class="w-10 min-H-5 py-3 bg-light" [ngClass]="{'bg-success': option['response'].toString()=='true'}">
                                    <mat-checkbox class="py-auto" [(ngModel)]="option.response"></mat-checkbox>
                                </div>
                                <div class="min-H-5 w-75 py-3 mx-auto text-left" [innerHtml]='option.option'>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-around bg-light">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button class="btn btn-success my-3" (click)="submitMCQ(selectedMCQ)" data-dismiss="modal">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="trueFalseModal" role="dialog" *ngIf="view==2 && selectedTrueFalse!=null">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header text-center bg-light">
                        <div class="text-center" [innerHtml]="trueFalseQuestions[selectedTrueFalse].question"></div>
                        <button type="button" class="close" data-dismiss="modal" style="float: right;">&times;</button>
                    </div>
                    <div class="modal-body text-center">
                        <div class="text-center my-3">
                            <mat-radio-group aria-label="Select Answer" [(ngModel)]="trueFalseQuestions[selectedTrueFalse]['response']">
                                <div class="card my-3 d-flex flex-row flex-wrap text-center min-H-5">
                                    <div class="w-10 min-H-5 py-3 bg-light" [ngClass]="{'bg-success': trueFalseQuestions[selectedTrueFalse]['response'].toString() ==  'true'}">
                                        <mat-radio-button value="true"></mat-radio-button>
                                    </div>
                                    <div class="min-H-5 w-75 py-3 mx-auto text-left">
                                        True
                                    </div>
                                </div>
                                <div class="card my-3 d-flex flex-row flex-wrap text-center min-H-5">
                                    <div class="w-10 min-H-5 py-3 bg-light" [ngClass]="{'bg-success': trueFalseQuestions[selectedTrueFalse]['response'].toString() ==  'true'}">
                                        <mat-radio-button value="false"></mat-radio-button>
                                    </div>
                                    <div class="min-H-5 w-75 py-3 mx-auto text-left">
                                        False
                                    </div>
                                </div>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-around bg-light">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button class="btn btn-success my-3" (click)="submitTrueFalse(selectedTrueFalse)" data-dismiss="modal">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bd-example-modal-xl" id="codingQuestionModal" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true" *ngIf="view==3 && selectedCodingQuestion!=null">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header text-center bg-light">
                        <div class="text-center" [innerHtml]="this.codingQuestions[selectedCodingQuestion].title"></div>
                        <button type="button" class="close" data-dismiss="modal" style="float: right;">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="my-3 w-100" [innerHtml]="this.codingQuestions[selectedCodingQuestion].description">
                        </div>
                        <div class="my-3 w-100">
                            Sample Input
                            <div class="card" [innerHtml]="this.codingQuestions[selectedCodingQuestion].sampleInput">
                            </div>
                        </div>
                        <div class="my-3 w-100">
                            Sample Output
                            <div class="card" [innerHtml]="this.codingQuestions[selectedCodingQuestion].sampleOutput">
                            </div>
                        </div>
                    </div>
                    <app-ide [headerCode]="headerCode" [footerCode]="footerCode" [mainCode]="mainCode" [problemInput]="problemInput" #codeEditor>
                    </app-ide>
                    <div class="modal-footer d-flex justify-content-around bg-light">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button class="btn btn-success my-3" (click)="submitCodingQuestion(selectedCodingQuestion, codeEditor.getContent())">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>