<div class="wrapper">
    <div class="overlay" *ngIf="showSpinner">
      <div class="spinner-wrapper">
        <app-spinner></app-spinner>
      </div>
    </div>
    <div class="all" [class.blurred]="showSpinner">
        <div class="sidenav">
            <h2>{{instructor.name}}</h2>
            <h4>@{{instructor.username}}</h4>
            <h4>Department: {{instructor.branch}}</h4>
            <button class="btn btn-danger signout" (click)="signout()">Sign out</button>
            <br>
            <br>
        </div>
        <div class="main">
            <br>
            <div>
                <h2 align="center"><b>Courses</b></h2>
                <hr>
                <br>
                <div class="row">
                    <div *ngFor="let item of courses" class="col-sm-6">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">{{item.code.substring(8)}}</h5>
                          <p class="card-text">{{item.title}}</p>
                          <button class="btn btn-primary" (click)="navToCourse(item.code)">Open</button>
                        </div>
                      </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title"><b>Add Course</b></h5>
                          <p class="card-text"></p>
                          <!-- Add Inputs for Course Detail here. -->
                          <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add</button>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">
          <!-- Modal content-->
              <div class="modal-content">
                  <div class="modal-header">
                      <h4 class="modal-title">Add Course</h4>
                      <button type="button" class="close" data-dismiss="modal" style="float: right;">&times;</button>
                  </div>
                  <div class="modal-body text-center">
                    <label>Course Code</label>
                      <input #newCourseCode type="text" class="form-control" placeholder="Enter Course Code Here" required>
                      <br>
                    <label>Course Title</label>
                      <input #newCourseTitle type="text" class="form-control" placeholder="Enter Course Title Here" required>
                    </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-primary" style="float: inline-start;" (click)="createCourse(newCourseCode.value,newCourseTitle.value)">Add</button>
                      <button type="button" class="btn btn-danger" style="float: right;" data-dismiss="modal">Close</button>
                  </div>
              </div>
          </div>
      </div>
    
      </div>
  </div>