<html>
<head>
<title>Session Management in NodeJS using Node and Express</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    var email,pass;
    $("#submit").click(function(){
        $.post("/createFile",function(data){
            if(data==='done') {
                alert("File Created.")
                // window.location.href="/admin";
            }
        });
    });
});
</script>
</head>
<body>
<input type="button" value="Submit" id="submit">
</body>
</html>
