<div class="wrapper">
    <div class="overlay" *ngIf="showSpinner">   
        <div class="spinner-wrapper">
            <app-spinner></app-spinner>
        </div>
    </div>
    <div [class.blurred]="!showSpinner">
        <!-- header -->
        <nav class="navbar navbar-light bg-light ">
            <div class="container text-center p-2 ">
                <span class="mx-auto text-bold">CODE EDITOR</span>
            </div>
        </nav>
    </div>

    <div class="container h-100 mt-4">
        
    <!-- languages & theme / error message -->
        <div class="row mb-4 justify-content-center mx-4">
            <!-- if failed to reach server, show error message -->
            <div *ngIf="cantReachServer; else reachServer">
                <span class="font-weight-bold">Can't reach server :(, Try to refresh the page.. </span>
            </div>

            <ng-template #reachServer>
                <!-- languages select -->
                <div class="col-auto col-lg-auto col-md-auto col-sm-auto">
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="languages-select">Languages</label>
                        </div>

                        <select *ngIf="(languagesArray$ | async) as languages; else loadingLanguages;" class="languages-select"
                            id="languages-select" #languagesSelect (change)="onChangeLanguageMode($event)">
                            <option *ngFor="let language of languages; let i = index" value="{{i}}" [selected]="initEditorOptions.languageMode===language.lang">
                                {{language.name}} ({{language.version}})
                            </option>
                        </select>

                        <!-- loading message while waiting languagesArray$ -->
                        <ng-template #loadingLanguages>
                            <span class="mx-2">Loading ...</span>
                        </ng-template>
                    </div>
                </div>
                <!-- theme radio buttons -->
                <div class="col-auto col-lg-3 col-md-4 col-sm-6">
                    <div class="btn-group btn-group-toggle btn-group-sm w-100 mx-auto" data-toggle="buttons">
                        <label *ngFor="let theme of supportedThemes" [ngClass]="{'active': theme===activatedTheme}" (click)="onChangeTheme(theme); activatedTheme=theme;" class="btn btn-secondary sudo-radio-btn">
                            <input type="radio" name="{{theme}}" autocomplete="off" [checked]="theme===activatedTheme">
                            <span>{{theme}}</span>
                        </label>
                    </div>
                </div>
            </ng-template>
        </div>
        
        <!-- the code editor header -->
        <div class="row">
            <div class="col">
                <div class="code-editor-header" #codeEditorHeader></div>
            </div>
        </div>
        <!-- the code editor -->
        <div class="row">
            <div class="col">
                <div class="code-editor" #codeEditor></div>
            </div>
        </div>
        <!-- the code editor footer -->
        <div class="row">
            <div class="col">
                <div class="code-editor-footer" #codeEditorFooter></div>
            </div>
        </div>

        <!-- run, clear & beautify buttons -->
        <div class="row justify-content-center mb-4 mx-4 pt-2">
            <!-- run button -->
            <div class="col-4 col-lg-2 col-md-3 col-sm-4 w-75">
                <button type="button" class="btn btn-dark btn-sm btn-block px-4 mx-2" [ngClass]="{'cant-click' : cantReachServer}"
                    [disabled]="cantReachServer" (click)="onRunCode()">
                    Run
                </button>
            </div>
            <!-- clear button -->
            <div class="col-4 col-lg-2 col-md-3 col-sm-4 w-75">
                <button type="button" class="btn btn-primary btn-sm btn-block px-4 mx-2" (click)="onClearContent()">
                    Clear
                </button>
            </div>
            <!-- beautify button -->
            <div class="col-4 col-lg-2 col-md-3 col-sm-4 w-75">
                <button type="button" class="btn btn-beautify btn-sm btn-block px-4 mx-2" (click)="onBeautifyContent()">
                    Beautify
                </button>
            </div>
        </div>

        <!-- input box -->
        <div class="row mt-4">
            <div class="col">
                <div class="label-box border">
                    <span class="mx-4 font-weight-light">Sample Input</span>
                </div>
                <textarea class="form-control input" rows="5" 
                aria-label="input-textarea" #sampleInput></textarea>
            </div>
        </div>

    <!-- output box -->
        <div class="row mt-4">
            <div class="col">
                <div class="label-box border">
                    <span class="mx-4 font-weight-light">Output</span>
                </div>
                <textarea class="form-control output" rows="5" 
                disabled="true" aria-label="output-textarea" 
                [value]="(output$ | async) || ''">
            </textarea>
            </div>
        </div>
    </div>
</div>
