<div class="wrapper">
  <div class="overlay" *ngIf="showSpinner">
    <div class="spinner-wrapper">
      <app-spinner></app-spinner>
    </div>
  </div>
  <div class="loaded-content" [class.blurred]="showSpinner">
      <div class="sidenav">
          <h2>{{student.name}}</h2>
          <h4>@{{student.username}}</h4>
          <h4>Branch: {{student.branch}}</h4>
          <a href="#">Past Tests</a>
          <a href="#">Courses</a>
          <a href="#">Teaching Assistant</a>
          <button class="btn btn-danger signout" (click)="signout()">Sign out</button>
      </div>
      <div class="main">
          <br>
          <div>
              <h2 align="center"><b>Ongoing Tests</b></h2>
              <hr>
          </div>  
          <div>
              <h2 align="center"><b>Past Tests</b></h2>
              <hr>
          </div>  
          <div>
              <h2 align="center"><b>Courses</b></h2>
              <hr>
              <br>
              <div class="row">
                  <div *ngFor="let item of courses" class="col-sm-6">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">{{item.code.substring(8)}}</h5>
                        <p class="card-text">{{item.title}}</p>
                        <button class="btn btn-primary" (click)="navToCourse(item.code)">Open</button>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
          <br>
          <div>
              <h2 align="center"><b>Teaching Assistant</b></h2>
              <hr>
              <br>
          </div>
      </div>
  </div>
</div>