<div class="all">
    <div class="sidenav">
        <h2>{{code.substring(8)}}</h2>
        <h2>{{course.title}}</h2>
        <h3>{{course.instructor}}</h3>
        <!-- <h3>{{}}</h3> -->
        <!-- <h3>{{}}</h3> -->
    </div>
    <div class="main">
        <br>
        <div>
            <h2><b>Assignment</b></h2>
            <hr>
            <!-- <ng-template [ngFor]="let test of ongoingTests">
                <div class="card bg-dark text-white">
                    <div class="card-body">Secondary card</div>
                </div>
                <br>
            </ng-template> -->
            
            <div class="assignment row">
                <div class="box">
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                        <div class="card-footer">Deadline</div>
                    </div>
                </div>
                <div class="box">
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                        <div class="card-footer">Deadline</div>
                    </div>
                </div>
                <div class="box">
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                        <div class="card-footer">Deadline</div>
                    </div>
                </div>
                <div class="box">
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                        <div class="card-footer">Deadline</div>
                    </div>
                </div>
                <div class="box">
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                        <div class="card-footer">Deadline</div>
                    </div>
                </div>
                <div class="box">
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                        <div class="card-footer">Deadline</div>
                    </div>
                </div>
                <div class="box">
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                        <div class="card-footer">Deadline</div>
                    </div>
                </div>
                <div class="box">
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                        <div class="card-footer">Deadline</div>
                    </div>
                </div>
            </div>
            <!-- <div class="row cardRow">
                <div class="card cardRight">
                    <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                    <div class="card-footer">Deadline</div>
                </div>
                <div class="card cardRight">
                    <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                    <div class="card-footer">Deadline</div>
                </div>
                <div class="card cardRight">
                    <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                    <div class="card-footer">Deadline</div>
                </div>
                <div class="card cardRight">
                    <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                    <div class="card-footer">Deadline</div>
                </div>
                <div class="card cardRight">
                    <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                    <div class="card-footer">Deadline</div>
                </div>
            </div> -->
        </div>  
    </div>
</div>