<div class="wrapper">
    <div class="overlay" *ngIf="showSpinner">   
        <div class="spinner-wrapper">
            <app-spinner></app-spinner>
        </div>
    </div>
    <div [class.blurred]="!showSpinner">
        <div class="navBarCss">
            <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
                <span class="navbar-brand mb-0 h1">{{code.substring(8)}}</span>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item" [ngClass]='{active: view==1}'>
                            <a class="nav-link" (click) = "setView(1)"> Stream</a>
                        </li>
                        <li class="nav-item" [ngClass]='{active: view==2}'>
                            <a class="nav-link" (click) = "setView(2)"> Assignments</a>
                        </li>
                        <li class="nav-item" [ngClass]='{active: view==3}'>
                            <a class="nav-link" (click) = "setView(3)"> Tests</a>
                        </li>
                    </ul>
                    <button class="btn btn-warning mr-2 my-sm-0" type="button" (click)="moveBack()">Home</button>
                    &nbsp;&nbsp;<br>
                    <button class="btn btn-danger my-2 my-sm-0" type="button">Sign Out</button>
                </div>
            </nav>
        </div>
        <div class="completeView">
            <div class = "mainClass" >
                <div class="view1 mt-6 pb-3" *ngIf="view==1">
                    <div class="row mx-3 pl-4">
                        <div class="card text-center mt-3 mx-2 border-info width45" *ngFor="let post of posts">
                            <div class="card-header border-info text-left">
                              {{post.by}}
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{post.title}}</h5>
                                <p class="card-text text-left" [innerHtml]="post.description"></p>
                            </div>
                            <div class="card-footer border-info text-muted">
                              {{post.date | date:'medium'}}
                            </div>
                        </div>
                    </div>
                    <div class="row mx-3 pl-4 fixed-bottom mb-4">
                        <button class="btn btn-success border-success mx-auto bigButton rounded-circle btn-lg" data-toggle="modal" data-target="#createPostModal">+</button>
                    </div>
                </div>
                
                <div class="view2" *ngIf="view==2">
                    <div class="row mx-3 pl-4">
                        <div class="card text-center mt-3 mx-2 border-warning width45">
                            <div class="card-header border-warning">
                              
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">Special title treatment</h5>
                              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                              <a href="#" class="btn btn-warning">Go somewhere</a>
                            </div>
                            <div class="card-footer text-muted border-warning">
                              2 days ago
                            </div>
                        </div>
                    </div>
                    <div class="row mx-3 pl-4 fixed-bottom mb-4">
                        <button class="btn btn-success border-success mx-auto bigButton rounded-circle btn-lg" *ngIf="role=='instructor'" data-toggle="modal" data-target="#createAssignmentModal">+</button>
                    </div>
                </div>
    
                <div class="view3" *ngIf="view==3">
                    <div class="row mx-3 pl-4">
                        <div class="card text-center mt-3 mx-2 border-danger width45">
                            <div class="card-header border-danger">
                              Featured
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">Special title treatment</h5>
                              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                              <a href="#" class="btn btn-danger">Go somewhere</a>
                            </div>
                            <div class="card-footer border-danger text-muted">
                              2 days ago
                            </div>
                        </div>
                    </div>
                    <div class="row mx-3 pl-4 fixed-bottom mb-4">
                        <button class="btn btn-success border-success mx-auto bigButton rounded-circle btn-lg" *ngIf="role=='instructor'" data-toggle="modal" data-target="#createTestModal">+</button>
                    </div>
                </div>
            </div>
            <div class="sideInfo">
                <div class="text-center">
                    <div class="card w-75 mx-auto my-3 border-primary">
                        <div class="card-content">
                            <div class="card-header font-weight-bold border-primary">
                                Instructors
                            </div>
                            <div class="card-body" *ngFor="let instructor of course.instructors">
                                <p>{{instructor.name}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center" *ngIf="course.teachingAssistants.length > 0">
                    <div class="card w-75 mx-auto my-3 border-primary">
                        <div class="card-content">
                            <div class="card-header font-weight-bold border-primary">
                                Teaching Assistants
                            </div>
                            <div class="card-body" *ngFor="let instructor of course.teachingAssistants">
                                <p>{{instructor.name}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom text-center">
                    <button class="btn btn-primary" *ngIf="role=='instructor'" data-toggle="modal" data-target="#accessCodesModal">Access Codes</button>
                </div>
            </div>
        </div>
        <div class="bottom bg-dark py-3 text-light text-center">
            <h3>{{course.title}}</h3>
            <!-- Footer
            <br>
            Footer
            <br>
            Footer
            <br>
            Footer
            <br> -->
        </div>


        <!-- Modals -->
        <div class="modal fade" id="accessCodesModal" role="dialog" *ngIf="role=='instructor'">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Access Codes</h4>
                        <button type="button" class="close" data-dismiss="modal" style="float: right;">&times;</button>
                    </div>
                    <div class="modal-body text-center">
                        <p class="form-control">Instructor : {{joiningCodes.instructor}}</p>
                        <p class="form-control">Teaching Assistant : {{joiningCodes.teachingAssistant}}</p>
                        <p class="form-control">Student : {{joiningCodes.student}}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" style="float: right;" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="createPostModal" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add Post</h4>
                        <button type="button" class="close" data-dismiss="modal" style="float: right;">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="postForm">
                            <div>
                                <label class="my-2" for="title">Title</label>
                                <input type="text" class="form-control" name="title" formControlName="title" placeholder="Title" required>
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <quill-editor placeholder="Enter Text" formControlName="description" required>
                                </quill-editor>
                            </div>
                            <div class="modal-footer">
                                <div>
                                    <button type="button" class="btn btn-danger" id="postModalClose" data-dismiss="modal" style="float: left;">Close</button>
                                </div>
                                <div>
                                    <button type="button" class="btn btn-success" [disabled]="!postForm.valid" style="float: right;" (click)="createPost(postForm.value)">Add</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade mx-auto" id="createAssignmentModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Create Assignment</h4>
                        <button type="button" class="close" data-dismiss="modal" style="float: right;">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="assignmentForm" enctype="multipart/form-data">
                            <div class="form-group">
                                <label>Title</label>
                                <input formControlName="title" type="text" class="form-control" placeholder="Enter Title Here" required>
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <quill-editor placeholder="Enter Text" formControlName="description" required>
                                </quill-editor>
                            </div>
                            <div class="form-group">
                                <label>Document</label>
                                <input type="file" class="form-control-file" id="uploadAssignmentDoc" (change)="uploadFile($event)">
                            </div>
                            <div class="form-group">
                                <label>Deadline</label>
                                <input formControlName="deadline" type="datetime-local" class="form-control" id="assignmentDeadline" required>
                            </div>
                            <div class="form-group">
                                <label>Marks</label>
                                <input formControlName="marks" type="number" class="form-control" id="assignmentMarks" required>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" style="float: right;" data-dismiss="modal" (click)="createAssignment(assignmentForm.value)">Create</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="createTestModal" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Create Test</h4>
                        <button type="button" class="close" data-dismiss="modal" style="float: right;">&times;</button>
                    </div>
                    <div class="modal-body text-center">
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" [disabled]="true" style="float: right;" data-dismiss="modal">Create</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="all" >
        <div class="sidenav">
            <h2>{{code.substring(8)}}</h2>
            <h2>{{course.title}}</h2>
            <h3>{{course.instructor}}</h3>
            <div *ngIf="instructor">
            <button class="btn btn-secondary" data-toggle="modal" data-target="#myModal">Add Students</button>
            <br>
            <br>
            </div>
            <button class="btn btn-warning" (click)="navToHome()">Home</button>
            <br>
            <button class="btn btn-danger signout" (click)="signout()">Sign out</button>
            <br>
        </div>
        <div class="main">
            <br>
            <div>
                <h2><b>Assignments</b></h2>
                <hr>
                <div class="assignment row">
                    <div class="box" *ngFor="let assignment of assignments" >
                        <div class="card" *ngIf="assignment!=undefined && assignment!=null">
                            <div class="card-body">
                                <h5 class="card-title"><strong>{{assignment.title}}</strong></h5>
                                <p class="card-text">{{assignment.description}}</p>
                                <p class="card-text" *ngIf="assignment.files!=undefined && assignment.files != null && assignment.files!= ''"><a href="{{assignment.files}}" target="_blank">Assignment Document</a></p>
                                <p class="card-text" *ngIf="assignment.securedmarks==undefined || assignment.securedmarks==null">Total Marks: {{assignment.totalmarks}}</p>
                                <div *ngIf="instructor==false">
                                    <p class="card-text" *ngIf="assignment.securedmarks!=undefined && assignment.securedmarks!=null"><em>Secured Marks: {{assignment.securedmarks}}/{{assignment.totalmarks}}</em></p>
                                    <p class="card-text" *ngIf="assignment.time!=undefined && assignment.time!=null">Last Submission: {{assignment.time | formatdate}}</p>
                                
                                    <div id="uploadDiv" *ngIf="checkStatus(assignment.deadline)==true && (assignment.marks==undefined || assignment.marks==null)">
                                        <div id="inputFile">
                                            <input type="file" class="form-control-file" id="{{'uploadAssignment'+assignment.number}}" (change)="onFileChange($event)" accept=".zip">
                                        </div>
                                        <div>
                                            <button class="btn btn-dark" (click)="uploadSubmission(assignment.number)" id="uploadBtn">Upload</button>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div *ngIf="instructor || (assignment.time!=undefined && assignment.time!=null)" class="text-center">
                                    <button class="btn btn-primary" (click)="downloadSubmission(assignment.link,assignment.number)">Download</button>
                                </div>
                                <br>
                                <div class="card-footer">
                                    <b>Deadline:</b> {{assignment.deadline | formatdate}}
                                    <br>
                                    <br>
                                    <div *ngIf="instructor && checkStatus(assignment.deadline)==false" class="text-center">
                                        <button class="btn btn-secondary" data-toggle="modal" data-target="#uploadModal" (click)="selectedAssignment=assignment.number">Upload Marks</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box" *ngIf="instructor">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><strong>Add Assignment</strong></h5>
                                <br>
                                <div class="text-center">
                                    <button class="btn btn-danger" data-toggle="modal" data-target="#addAssignment">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
        <div class="modal fade" id="myModal" role="dialog" *ngIf="instructor">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Enroll Students</h4>
                        <button type="button" class="close" data-dismiss="modal" style="float: right;">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Upload CSV file containing Entry numbers and Names of Students.</p>
                        <input type="file" #csvReader class="form-control-file" id="addStudents" (change)="uploadListener($event)" accept=".csv">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" style="float: inline-start;" (click)="addStudents()">Upload</button>
                        <button type="button" id="closeAddStudents" class="btn btn-danger" style="float: right;" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="uploadModal" role="dialog" *ngIf="instructor">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Upload Marks for Assignment{{selectedAssignment}}</h4>
                        <button type="button" class="close" data-dismiss="modal" style="float: right;">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Upload CSV file containing Entry numbers and Marks of Students.</p>
                        <input type="file" class="form-control-file" id="uploadMarks" (change)="uploadMarksListener($event)" accept=".csv">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" style="float: inline-start;" (click)="uploadMarks()">Upload</button>
                        <button type="button" id="closeUploadMarks" class="btn btn-danger" style="float: right;" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="addAssignment" role="dialog" *ngIf="instructor">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Create Assignment{{assignmentCounts+1}}</h4>
                        <button type="button" class="close" data-dismiss="modal" style="float: right;">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-body">
                            <label>Title</label>
                            <input #assignmentTitle type="text" class="form-control" placeholder="Enter Title Here" required>
                            <br>
                            
                            <label>Description</label>
                            <textarea #assignmentDesc class="form-control" placeholder="Enter Description Here"></textarea>
                            <br> 

                            <label>Document</label>
                            <input type="file" class="form-control-file" id="uploadAssignmentDoc" (change)="uploadAssignmentDocListener($event)">
                            <br>

                            <label>Deadline</label>
                            <input #assignmentDeadline type="datetime-local" class="form-control" id="assignmentDeadline" required>
                            <br>

                            <label>Total Marks</label>
                            <input #assignmentMarks type="number" class="form-control" id="assignmentMarks" required>
                            <br>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" style="float: inline-start;" (click)="addAssignment(assignmentTitle.value,assignmentDesc.value,assignmentDeadline.value,assignmentMarks.value)">Upload</button>
                        <button type="button" id="closeAddAssignment" class="btn btn-danger" style="float: right;" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>