<div class="wrapper">
    <div class="overlay" *ngIf="showSpinner">   
        <div class="spinner-wrapper">
            <app-spinner></app-spinner>
        </div>
    </div>
    <div [class.blurred]="!showSpinner">
        <div class="navBarCss">
            <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
                <span class="navbar-brand mb-0 h1">{{code.substring(8) | uppercase}}</span>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item" [ngClass]='{active: view==1}'>
                            <a class="nav-link" (click) = "setView(1)"> Stream</a>
                        </li>
                        <li class="nav-item" [ngClass]='{active: view==2}'>
                            <a class="nav-link" (click) = "setView(2)"> Assignments</a>
                        </li>
                        <li class="nav-item" [ngClass]='{active: view==3}'>
                            <a class="nav-link" (click) = "setView(3)"> Tests</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="changePage('questions')">Questions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="changePage('practice')">Practice</a>
                        </li>
                    </ul>
                    <button class="btn btn-warning mr-2 my-sm-0" type="button" (click)="moveBack()">Home</button>
                    &nbsp;&nbsp;<br>
                    <button class="btn btn-danger my-2 my-sm-0" type="button" (click)="signOut()">Sign Out</button>
                </div>
            </nav>
        </div>
        <div class="completeView">
            <div class = "mainClass" >
                <div class="view1 mt-6 pb-3" *ngIf="view==1">
                    <div class="row mx-3 pl-4">
                        <div class="card text-center mt-3 mx-2 border-info width45" *ngFor="let post of course.posts">
                            <div class="card-header border-info text-left">
                              {{post.by}}
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{post.title}}</h5>
                                <p class="card-text text-left" [innerHtml]="post.description"></p>
                                <div *ngIf="post.file">
                                    <button class="btn btn-outline-primary my-2" (click)="getPostResource(post._id)">Resourse</button>
                                </div>  
                            </div>
                            <div class="card-footer border-info text-muted">
                              {{post.date | date:'medium'}}
                            </div>
                        </div>
                    </div>
                    <div class="row mx-3 pl-4 fixed-bottom mb-4">
                        <button class="btn btn-success border-success mx-auto bigButton rounded-circle btn-lg" data-toggle="modal" data-target="#createPostModal">+</button>
                    </div>
                </div>
                
                <div class="view2" *ngIf="view==2">
                    <div class="row mx-3 pl-4">
                        <div class="card text-center mt-3 mx-2 border-warning width45" *ngFor="let assignment of course.assignments">
                            <div class="card-header border-warning">
                                {{assignment.title}}
                            </div>
                            <div class="card-body">
                                <div>
                                    <div class="card-title" *ngIf="role != 'student' || !assignment.obtainedMarks">
                                        Marks: {{assignment.marks}}
                                    </div>
                                    <div class="card-title" *ngIf="assignment.obtainedMarks">
                                        <i>Obtained Marks: {{assignment.obtainedMarks}} / {{assignment.marks}}</i>
                                    </div>
                                </div>
                                <p class="card-text text-left my-2" [innerHtml]="assignment.description"></p>
                                <div>
                                    <button class="btn btn-outline-secondary my-2" (click)="getAssignmentDoc(assignment._id)">Resourses</button>
                                </div>  
                                <div class="my-auto mx-auto text-center" *ngIf="course.role=='student'">
                                    <div *ngIf="checkStatus(assignment.deadline) && assignment.requiresSubmission" class="mx-auto text-center">
                                        <button class="btn btn-info" data-toggle="modal" data-target="#submitAssignmentModal" (click)="setSubmissionAssignment(assignment._id,assignment.title)">Submit</button>
                                    </div>
                                    <div *ngIf="assignment.submissionTime">
                                        <button class="btn btn-secondary" (click)="downloadSubmission(assignment._id)">Download Submission</button>
                                    </div>
                                </div>
                                <div class="my-auto mx-auto text-center" *ngIf="course.role=='instructor' || course.role=='teachingAssistant'">
                                    <button class="btn btn-info" (click)="downloadAllSubmissions(assignment._id)">Download Submissions</button>
                                </div>
                            </div>
                            <div *ngIf="assignment.requiresSubmission" class="card-footer text-muted border-warning">
                              <p>Deadline: {{assignment.deadline | date:'medium'}}</p>
                              <p *ngIf="course.role=='student' && assignment.submissionTime">Last Submission: {{assignment.submissionTime | date:'medium'}}</p>
                              <div *ngIf="course.role=='instructor'">
                                <button class="btn btn-warning" data-toggle="modal" data-target="#shiftDeadlineModal" (click)="setShiftDeadline(assignment._id,assignment.title)">Shift Deadline</button>
                              </div>
                              <div *ngIf="course.role=='instructor'">
                                <button class="btn btn-success" data-toggle="modal" data-target="#uploadMarksModal" (click)="setUploadMarksForm(assignment._id,assignment.title)">Upload Marks</button>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mx-3 pl-4 fixed-bottom mb-4">
                        <button class="btn btn-success border-success mx-auto bigButton rounded-circle btn-lg" *ngIf="course.role=='instructor'" data-toggle="modal" data-target="#createAssignmentModal">+</button>
                    </div>
                </div>
    
                <div class="view3" *ngIf="view==3">
                    <div class="row mx-3 pl-4">
                        <div class="card text-center mt-3 mx-2 border-danger width45" *ngFor="let test of course.tests">
                            <div class="card-header border-danger">
                              {{test.testId}}
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">{{test.title}}</h5>
                              <p class="card-text" [innerHtml]="test.description"></p>
                            </div>
                            <div class="card-footer border-danger text-muted">
                              <button class="btn btn-outline-primary" (click)="openTest(test.testId,test._id)">Open</button>
                            </div>
                        </div>
                    </div>
                    <div class="row mx-3 pl-4 fixed-bottom mb-4">
                        <button class="btn btn-success border-success mx-auto bigButton rounded-circle btn-lg" *ngIf="course.role=='instructor'" data-toggle="modal" data-target="#createTestModal">+</button>
                    </div>
                </div>
            </div>
            <div class="sideInfo">
                <div class="text-center">
                    <div class="card w-75 mx-auto my-3 border-primary">
                        <div class="card-content">
                            <div class="card-header font-weight-bold border-primary">
                                Instructors
                            </div>
                            <div class="card-body" *ngFor="let instructor of course.instructors">
                                <p>{{instructor.name | titlecase}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center" *ngIf="course.teachingAssistants.length > 0">
                    <div class="card w-75 mx-auto my-3 border-primary">
                        <div class="card-content">
                            <div class="card-header font-weight-bold border-primary">
                                Teaching Assistants
                            </div>
                            <div class="card-body" *ngFor="let instructor of course.teachingAssistants">
                                <p>{{instructor.name | titlecase}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom text-center">
                    <button class="btn btn-primary" *ngIf="course.role=='instructor'" data-toggle="modal" data-target="#accessCodesModal">Access Codes</button>
                </div>
            </div>
        </div>
        <div class="bottom bg-dark py-3 text-light text-center">
            <h3>{{course.title}}</h3>
        </div>


        <!-- Modals -->
        <div class="modal fade" id="accessCodesModal" role="dialog" *ngIf="course.role=='instructor'">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Access Codes</h4>
                        <button type="button" class="close" data-dismiss="modal" style="float: right;">&times;</button>
                    </div>
                    <div class="modal-body text-center">
                        <p class="form-control">Instructor : {{joiningCodes.instructor}}</p>
                        <p class="form-control">Teaching Assistant : {{joiningCodes.teachingAssistant}}</p>
                        <p class="form-control" *ngFor="let x of joiningCodes.groups">{{x.groupId}} : {{x.code}}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" style="float: right;" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="submitAssignmentModal" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Submit Assignment</h4>
                        <button type="button" class="close" data-dismiss="modal" style="float: right;">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Assignment</label>
                            <input type="text" class="form-control" readonly value="{{submitAssignmentForm.get('title').value}}">
                        </div>
                        <div class="form-group">
                            <label>File</label>
                            <input type="file" class="form-control-file" (change)="uploadSubmissionFile($event)">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="text-left">
                            <button type="button" class="btn btn-danger"  data-dismiss="modal" style="float: left;">Close</button>
                        </div>
                        <div class="text-right">
                            <button type="button" class="btn btn-success" [disabled]="!submitAssignmentForm.valid" style="float: right;" (click)="submitAssignment()">Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="uploadMarksModal" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Upload Marks</h4>
                        <button type="button" class="close" data-dismiss="modal" style="float: right;">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Assignment</label>
                            <input type="text" class="form-control" readonly value="{{uploadMarksForm.get('title').value}}">
                        </div>
                        <div class="form-group">
                            <label>File</label>
                            <input type="file" class="form-control-file" (change)="uploadMarksFile($event)">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="text-left">
                            <button type="button" class="btn btn-danger"  data-dismiss="modal" style="float: left;">Close</button>
                        </div>
                        <div class="text-right">
                            <button type="button" class="btn btn-success" [disabled]="!uploadMarksForm.valid" style="float: right;" (click)="uploadMarks()">Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal fade" id="shiftDeadlineModal" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Submit Assignment</h4>
                        <button type="button" class="close" data-dismiss="modal" style="float: right;">&times;</button>
                    </div>
                    <form [formGroup]="shiftDeadlineForm">
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Assignment</label>
                                <input type="text" class="form-control" readonly formControlName="title" value="{{shiftDeadlineForm.get('title').value}}">
                            </div>
                            <div class="form-group">
                                <input type="hidden" class="form-control" formControlName="assignmentId">
                            </div>
                            <div class="form-group">
                                <label>New Deadline</label>
                                <input type="datetime-local" class="form-control" formControlName="newDeadline">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="text-left">
                                <button type="button" class="btn btn-danger"  data-dismiss="modal" style="float: left;">Close</button>
                            </div>
                            <div class="text-right">
                                <button type="button" class="btn btn-success" data-dismiss="modal" [disabled]="!shiftDeadlineForm.valid" style="float: right;" (click)="shiftDeadline(shiftDeadlineForm.value)">Add</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="createPostModal" role="dialog">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add Post</h4>
                        <button type="button" class="close" data-dismiss="modal" style="float: right;">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="postForm">
                            <div>
                                <label class="my-2" for="title">Title</label>
                                <input type="text" class="form-control" name="title" formControlName="title" placeholder="Title" required>
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <quill-editor placeholder="Enter Text" formControlName="description" required>
                                </quill-editor>
                            </div>
                            <div class="form-group">
                                <label>File</label>
                                <input type="file" class="form-control-file" (change)="uploadPostFile($event)">
                            </div>
                            <div>
                                <label class="my-2" for="audience">Audience</label>
                                <mat-select formControlName="audience" multiple>
                                    <mat-option *ngFor="let topping of course.groups" [value]="topping">{{topping}}</mat-option>
                                </mat-select>
                            </div>
                            <div class="modal-footer">
                                <div>
                                    <button type="button" class="btn btn-danger" id="postModalClose" data-dismiss="modal" style="float: left;">Close</button>
                                </div>
                                <div>
                                    <button type="button" class="btn btn-success" [disabled]="!postForm.valid" style="float: right;" (click)="createPost(postForm.value)">Add</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade mx-auto" id="createAssignmentModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Create Assignment</h4>
                        <button type="button" class="close" data-dismiss="modal" style="float: right;">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="assignmentForm" enctype="multipart/form-data">
                            <div class="form-group">
                                <label>Title</label>
                                <input formControlName="title" type="text" class="form-control" placeholder="Enter Title Here" required>
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <quill-editor placeholder="Enter Text" formControlName="description" required>
                                </quill-editor>
                            </div>
                            <div class="form-group">
                                <label>Document</label>
                                <input type="file" class="form-control-file" id="uploadAssignmentDoc" (change)="uploadFile($event)">
                            </div>
                            <div class="form-group">
                                <label>Deadline</label>
                                <input formControlName="deadline" type="datetime-local" class="form-control" id="assignmentDeadline" required>
                            </div>
                            <div class="form-group">
                                <label>Requires Submission</label>
                                <input formControlName="requiresSubmission" type="checkbox" selected class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>Marks</label>
                                <input formControlName="marks" type="number" class="form-control" id="assignmentMarks" required>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" [disabled]='!assignmentForm.valid' style="float: right;" data-dismiss="modal" (click)="createAssignment()">Create</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="createTestModal" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Create Test</h4>
                        <button type="button" class="close" data-dismiss="modal" style="float: right;">&times;</button>
                    </div>
                    <form [formGroup]='testForm'>
                        <div class="modal-body text-center">
                            <div class="form-group">
                                <label>Title</label>
                                <input formControlName="title" type="text" class="form-control" placeholder="Enter Title Here" required>
                            </div>
                            <div class="form-group">
                                <label>Instructions</label>
                                <quill-editor placeholder="Enter Text" formControlName="instructions" required>
                                </quill-editor>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" [disabled]="!testForm.valid" style="float: right;" data-dismiss="modal" (click)="createTest(testForm.value)">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>